PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/panacea
TWILIO_SID=your_twilio_account_sid
TWILIO_AUTH=your_twilio_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+1234567890
NODE_ENV=development